<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Nabin Poudel - A passionate web developer with expertise in JavaScript, Node.js, and MongoDB. Explore my portfolio to see my projects and skills.">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
        content="Nabin Poudel, nabin788, Web Developer, JavaScript, Node.js, Express.js, MongoDB, Portfolio">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Nabin Poudel | Web Developer Portfolio">
    <meta property="og:description"
        content="A passionate web developer with expertise in HTML5, CSS3, JavaScript, Node.js, Express.js and MongoDB.">
    <meta property="og:image" content="./icons/nabin.webp">
    <meta property="og:url" content="https://nabin788.com.np">
    <meta property="og:type" content="website">
    
    <!-- to get add -->
    <meta name="google-adsense-account" content="ca-pub-6901656236375995">

    <title>Nabin Poudel | Web Developer Portfolio</title>

    <link rel="icon" sizes="32x32" href="./icons/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/style/style.css">
    <noscript>
        <link rel="stylesheet" href="/style/style.css">
    </noscript>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- page header -->
    <header>
        <div class="profile">
            <div class="img-container">
                <a href="/"><img class="profile-img" src="./../icons/nabin.webp" alt="Loading.." loading="lazy"></a>
            </div>
            <h1>Nabin Poudel</h1>
        </div>
        <nav>
            <ul class="nav-list">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">about me</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact me</a></li>
            </ul>
        </nav>
    </header>
    <!-- page header -->

    <!-- Home section -->
    <section class="home-section" id="home">
        <div class="my-img">
            <div class="picture">
                <img class="myHome-img" src="../icons/nabin.webp" alt="My image is loading. Please wait..">
            </div>
        </div>
        <div class="myInfo-container">
            <div class="my-info">
                <div class="info">
                    <p>Hello, I'm</p>
                    <h2>Nabin Poudel</h2>
                    <p class="textTyping">Software Developer</p>
                </div>
                <div class="myShort-description">
                    <span>Enthusiastic and detail-oriented Software Developer with a strong foundation in computer
                        science.
                        Proficient in HTML, CSS, JavaScript, and experienced with MongoDB, Node.js, and Express.js.
                        Passionate
                        about coding, problem-solving, and continuously learning new technologies.</span>
                </div>
            </div>
            <div class="social-media">
                <a href="https://github.com/Nabin788" target="_blank">
                    <img class="social-icon" src="../icons/github.webp" alt="Loading.." loading="lazy">
                </a>
                <a href="https://www.facebook.com/nabbin.poudel.31" target="_blank">
                    <img class="social-icon" src="../icons/facebook.webp" alt="Loading.." loading="lazy">
                </a>
                <a href="https://www.linkedin.com/in/nabin-poudel-10150a320/" target="_blank">
                    <img class="social-icon" src="../icons/linkedin.webp" alt="Loading.." loading="lazy">
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <img class="social-icon" src="../icons/twitter.webp" alt="Loading.." loading="lazy">
                </a>
            </div>
            <div class="about-page">
                <button class="about-btn">More about me</button>
            </div>
        </div>
    </section>
    <!-- Home section -->

    <!-- about section -->
    <section class="about-section" id="about-section">
        <section class="introduction">
            <h2>About Me</h2>
            <a class="resume-btn" href="./icons/NabinCV.pdf" download aria-label="Download my resume">
                Resume <img class="download-icon" src="./icons/download.webp" alt="Download arrow icon" loading="lazy">
            </a>
            <p>
                Hello! I'm Nabin Poudel, a passionate web developer with a solid foundation in frontend and backend
                technologies. I hold a Bachelor of Computer Applications (BCA) from LA Grandee International College,
                affiliated with Pokhara University. Over the years, I’ve developed a keen interest in creating
                user-friendly, dynamic web applications. I’m skilled in building responsive websites and working with
                APIs.
                Some of my notable projects include my portfolio website and a weather app, showcasing my ability to
                deliver
                functional and aesthetically pleasing solutions.
            </p>
            <p>
                I’m always excited to take on new challenges, learn new technologies, and create impactful digital
                experiences.
                Let’s build something amazing together!
            </p>
        </section>

        <div class="skills">
            <h3>Skills</h3>
            <div class="skills-list">
                <div class="front-end">
                    <strong>FrontEnd</strong>
                    <p><img class="skills-icons" src="./icons/html5.webp" alt="Html icons is loading.." loading="lazy">
                        HTML5</p>
                    <p><img class="skills-icons" src="./icons/css3.webp" alt="Css icons is loading.." loading="lazy">
                        CSS3</p>
                    <p><img class="skills-icons" src="./icons/javaScript.webp" alt="JavaScript icon is loading.."
                            loading="lazy">
                        JavaScript</p>
                </div>
                <div class="back-end">
                    <strong>BackEnd</strong>
                    <p> <img class="skills-icons" src="./icons/nodejs.webp" alt="Nodejs icon is loading.."
                            loading="lazy"> Node.js</p>
                    <p> <img class="skills-icons" src="./icons/expressjs.webp" alt="Expressjs icon is loading..">
                        Express.js</p>
                    <p> <img class="skills-icons" src="./icons/mongoDB.webp" alt="MongoDb icon is loading.."
                            loading="lazy"> MongoDB
                    </p>
                    <p> <img class="skills-icons" src="./icons/mongoose.webp" alt="Mongoose icon is loading.."
                            loading="lazy"> Mongoose
                    </p>
                </div>
                <div class="version-control">
                    <strong>Version Control</strong>
                    <p><img class="skills-icons" src="./icons/git.webp" alt="Git icons is loading..." loading="lazy">Git
                    </p>
                    <p><img class="skills-icons" src="./icons/github.webp" alt="GitHub icons is loading..."
                            loading="lazy">GitHub</p>
                </div>
                <div class="tools">
                    <strong>Tools</strong>
                    <p> <img class="skills-icons" src="./icons/vsCode.webp" alt="Vs-code icon is loading.."
                            loading="lazy"> Visual
                        Studio</p>
                    <p> <img class="skills-icons" src="./icons/postman.webp" alt="Postman icon is loading.."
                            loading="lazy"> Postman
                    </p>
                </div>
                <div class="develope">
                    <strong>What I Do</strong>
                    <ul>
                        <li>Responsive Design</li>
                        <li>server side programming</li>
                        <li>RESTful APIs</li>
                        <li>Web Hosting and Deployment</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="education">
            <h4>Education</h4>
            <div class="bachelor">
                <p>College: LA GRANDEE International College</p>
                <span>Program: Bachelor of computer application</span>
            </div>
            <div class="higher">
                <p>College: Moonlight Higher Secondary School</p>
                <span>Course: 12th Management</span>
            </div>
            <div class="slc">
                <p>School: Shree Nepal Rastriya M.V</p>
                <span>SLC</span>
            </div>
        </div>
        <div class="connect">
            <div class="reach-visit">
                <h5>Reach me</h5>
                <p><img class="gmail-icon" src="./icons/gmail.webp" alt="Gmail icons is loading.." loading="lazy">
                    nabinpoudel7882@gmail.com</p>
                <p><img class="contact-icon" src="./icons/e-contact.webp" alt="contact image is loading.."
                        loading="lazy">982665625</p>
            </div>
            <button class="visit-btn">Visit My Work</button>
        </div>
    </section>
    <!-- about section -->

    <!-- project page -->
    <template class="project-items" id="project-template">
        <section class="project-item">
            <div class="img-name">
                <h2 class="project-name">Project Name</h2>
                <div class="project-img-container">
                    <img class="project-img" src="" alt="project-img is loading.." loading="lazy">
                </div>
                <a class="project-link" href="" target="_blank">Live Project</a>
            </div>
            <div class="project-description">
                <h3>About Project</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia explicabo cum
                    quaerat? Consequatur
                    dolorem, molestias magni mollitia adipisci animi laborum, veniam ipsam totam dicta dolores ipsum
                    nihil!
                    Sint ab dolores temporibus suscipit placeat voluptatum quasi necessitatibus expedita, rem in eum
                    iste
                    libero provident accusantium modi. Voluptatum mollitia molestiae corporis non!</p>
            </div>
        </section>
    </template>

    <section class="project-container" id="project-section">
        <div class="project-list">
        </div>
        <div class="sourceCode">
            <h4>Want Source Code:</h4>
            <a href="https://github.com/Nabin788" target="_blank">
                <img class="source-icon" src="../icons/source-code.webp" alt="Source code img is loading.."
                    loading="lazy">
            </a>
        </div>
    </section>
    <!-- project page -->

    <!-- contact page -->
    <section class="section-contact" id="contact">
        <div class="contact-container" id="contacs">
            <div class="contact-form">
                <form class="form" action="/send" method="POST">
                    <div class="name-email">
                        <div class="name">
                            <label for="name"></label>
                            <input type="text" id="name" name="name" class="nameEmail" placeholder="Enter Your Name"
                                autocomplete="off" required>
                        </div>
                        <div class="email">
                            <label for="email"></label>
                            <input type="email" id="email" name="email" class="nameEmail"
                                placeholder="Enter Your Email or Phone number" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="contact-message">
                        <textarea name="message" placeholder="Tell me what you want?" required></textarea>
                    </div>
                    <div class="button">
                        <input type="submit" id="submit-btn" class="btn-submit">
                    </div>
                </form>
            </div>
            <div class="contact-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d902.6722036025226!2d82.7606253196002!3d27.840496748506652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d27.8406181!2d82.7612843!4m3!3m2!1d27.840426899999997!2d82.76116929999999!5e1!3m2!1sen!2snp!4v1727003336059!5m2!1sen!2snp"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" title="my Location"></iframe>
            </div>
        </div>
    </section>
    <!-- contact page -->

    <!-- footer section -->
    <footer>
        <p>&copy; 2024 Nabin Poudel. All Rights Reserved.</p>
    </footer>
    <!-- footer section -->

    <!--for google add -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6901656236375995"
        crossorigin="anonymous"></script>
    <script src="./js/index.js" defer></script>
</body>

</html>